assignment4.py.md
.ipynb_checkpoints/w1assignment2-checkpoint.py
.ipynb_checkpoints/w1assignment3-checkpoint.py
.ipynb_checkpoints/w1b_assignment-checkpoint.md
.ipynb_checkpoints/w2u2_assignment-checkpoint.py
.ipynb_checkpoints/w2u4_assignment3-2-checkpoint.py
.ipynb_checkpoints/w2u5-checkpoint.py

.ipynb_checkpoints